
body {
  margin: 10px 0;
}


#sidebar .sidebar-link {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
} 


#modal-container {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}


img.avatar {
  width: 80px;
  height: 80px;
}


.character-card .name {
  margin-top: 0;
}


.glyphicon.spinning {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}


.m-t { margin-top: 5px; }
.m-r { margin-right: 5px; }
.m-b { margin-bottom: 5px; }
.m-l { margin-left: 5px; }
